
{% extends 'base.html' %} 
{% block content %}

 <h1>Wish List Items</h1>
 <a href="{% url 'items_create' %}" class="btn btn green" role="button">ADD A WISH</a>
</td>
<table id="table_id" class="table-hover">
    <thead>
        <tr>
            <th scope="col">DESCRIPTION</th> 
               
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.description}}</td>
            <td>

            </td>
            <td>
            <a href="{% url 'delete' item.id %}" class="btn red darken-4" role="button">X</a>
            </td>
        </tr> 
        {% endfor %}
    </tbody>
</table>

{% endblock %}
<!-- <table>
    <td>Description</td>
    <td>Delete?</td>
  {% for item in items %}
<table>
     
{% endfor %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} -->
    
</body>
</html>






